<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Active Online Software Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
       body::-webkit-scrollbar {
         width: 0.5em;
         z-index: 100;
         background-color:transparent;
       }


      body::-webkit-scrollbar-thumb {
         background-color:white;
         box-shadow:0 -100vh 0 100vh #5128f5;//magic
       }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./features23.css" rel="stylesheet" />
      <div class="features23-layout349 thq-section-padding">
        <div class="features23-max-width thq-section-max-width">
          <div class="features23-container1">
            <h2>
              <fragment class="features23-fragment24">
                <h2 class="features23-text48 thq-heading-2">Our Features</h2>
              </fragment>
            </h2>
            <span>
              <fragment class="features23-fragment23">
                <span class="features23-text37 thq-body-small">
                  <span>
                    At Code Media, we are a forward-thinking digital marketing
                    agency dedicated to helping businesses succeed in the
                    fast-paced digital world. With a passion for innovation and
                    a results-driven approach, we specialize in creating
                    tailored strategies that elevate brands, boost visibility,
                    and engage audiences effectively.
                  </span>
                  <br />
                  <br />
                  <span>
                    Our team is made up of creative designers, expert content
                    creators, tech-savvy developers, and data-driven
                    strategists, all working together to deliver cutting-edge
                    digital solutions. From social media marketing and search
                    engine optimization to web design and paid advertising, we
                    provide a comprehensive range of services designed to
                    enhance your online presence.
                  </span>
                  <br />
                  <br />
                  <span>
                    Founded on the core values of transparency, creativity, and
                    collaboration, we pride ourselves on partnering closely with
                    our clients to understand their unique needs and objectives.
                    Whether you're a startup looking to build a strong brand or
                    an established company aiming to expand your reach, Code
                    Media delivers personalized strategies that produce tangible
                    results.
                  </span>
                  <br />
                  <br />
                  <span>
                    At Code Media, we don’t just follow digital trends—we set
                    them. Let us help you navigate the digital landscape and
                    take your business to new heights.
                  </span>
                </span>
              </fragment>
            </span>
            <a href="index.html" class="features23-button thq-button-filled">
              <span>
                <fragment class="features23-fragment11">
                  <span class="features23-text25 thq-body-small">
                    Contact us
                  </span>
                </fragment>
              </span>
            </a>
          </div>
          <div class="thq-grid-3">
            <div class="features23-container3 thq-card">
              <img
                alt="Brand Storytelling Image"
                src="https://images.unsplash.com/photo-1535953472862-9cc610a70f8a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTUyMTcyOXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image1 thq-img-round"
              />
              <h2>
                <fragment class="features23-fragment18">
                  <h2 class="features23-text32 thq-heading-2">
                    Brand Storytelling
                  </h2>
                </fragment>
              </h2>
              <span>
                <fragment class="features23-fragment19">
                  <span class="features23-text33 thq-body-small">
                    Crafting compelling narratives that resonate with your
                    audience.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container4 thq-card">
              <img
                alt="Audience Engagement Image"
                src="https://images.unsplash.com/photo-1679042346932-f1131ce3c31d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTUyMTcyOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image2 thq-img-round"
              />
              <h2>
                <fragment class="features23-fragment22">
                  <h2 class="features23-text36 thq-heading-2">
                    Audience Engagement
                  </h2>
                </fragment>
              </h2>
              <span>
                <fragment class="features23-fragment17">
                  <span class="features23-text31 thq-body-small">
                    Building meaningful connections with your target audience.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container5 thq-card">
              <img
                alt="Web Design Image"
                src="https://images.unsplash.com/photo-1497215842964-222b430dc094?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTUyMTczMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image3 thq-img-round"
              />
              <h2>
                <fragment class="features23-fragment20">
                  <h2 class="features23-text34 thq-heading-2">Web Design</h2>
                </fragment>
              </h2>
              <span>
                <fragment class="features23-fragment10">
                  <span class="features23-text24 thq-body-small">
                    Creating visually appealing and user-friendly websites.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container6 thq-card">
              <img
                alt="Social Media Marketing Image"
                src="https://images.unsplash.com/photo-1557804483-ef3ae78eca57?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTUyMTcyOXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image4 thq-img-round"
              />
              <h2>
                <fragment class="features23-fragment13">
                  <h2 class="features23-text27 thq-heading-2">
                    Social Media Marketing
                  </h2>
                </fragment>
              </h2>
              <span>
                <fragment class="features23-fragment15">
                  <span class="features23-text29 thq-body-small">
                    Strategically promoting your brand on social media
                    platforms.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container7 thq-card">
              <img
                alt="SEO Image"
                src="https://images.unsplash.com/photo-1520962922320-2038eebab146?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTUyMTcyOXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image5 thq-img-round"
              />
              <h2>
                <fragment class="features23-fragment14">
                  <h2 class="features23-text28 thq-heading-2">SEO</h2>
                </fragment>
              </h2>
              <span>
                <fragment class="features23-fragment21">
                  <span class="features23-text35 thq-body-small">
                    Optimizing your online presence to improve search engine
                    rankings.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features23-container8 thq-card">
              <img
                alt="Software Solutions Image"
                src="https://images.unsplash.com/photo-1509324729398-0c8ee2d198c6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNTUyMTczMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="features23-image6 thq-img-round"
              />
              <h2>
                <fragment class="features23-fragment16">
                  <h2 class="features23-text30 thq-heading-2">
                    Software Solutions
                  </h2>
                </fragment>
              </h2>
              <span>
                <fragment class="features23-fragment12">
                  <span class="features23-text26 thq-body-small">
                    Developing custom software solutions to meet your business
                    needs.
                  </span>
                </fragment>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
  </body>
</html>
